
.navbar{
    background-color: var(--menubar);
    /* Image URLs need to be full for github pages */
    /* background-image: url("https://vsaiprakash.github.io/portfolio-app-ui/assets/images/backgrounds/menubar-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  */
}
.nav-link {
    color:aliceblue !important;
}

.contact-me-button:hover{
    color: var(--contact-me) !important;
}

.personal-projects-button:hover{
    color: var(--personal-projects) !important;
}

.skills-button:hover{
    color: var(--skills) !important;
}

.home-button:hover{
    color: var(--home) !important;
}