
.navbar{
    background-image: url(/assets/images/backgrounds/menubar-bg.svg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}
.nav-link {
    color:aliceblue !important;
}

.contact-me-button:hover{
    color: var(--contact-me) !important;
}

.personal-projects-button:hover{
    color: var(--personal-projects) !important;
}

.skills-button:hover{
    color: var(--skills) !important;
}

.home-button:hover{
    color: var(--home) !important;
}