.body{
    padding: 50px;
    height: 100vh;
    /* background-color:lavender; */
    background-color: var(--skills);
    /* height: 100%; */
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skill-img-container {
    padding: 10px;
    height: 100px;
    width: 150px;
}

.skill-img {
    height: inherit;
}