.body{
    padding: 50px;
    min-height: 100vh;
    background-color: var(--work-experience);
    /* height: 100%; */
}

.heading {
    text-align: center;
}

.worked-company {
    padding-left: 10px;
}

.worked-project {
    padding-left: 20px;
}