<div>
  <!-- Menu Bar -->
  <app-menu-bar id="header"></app-menu-bar>
  <!-- Starting Home Page Section -->
  <app-home id="home"></app-home>
  <!-- Skills -->
  <app-skills id="skills"></app-skills>
  <!-- Work Experience -->
  <app-work-experience id="work-experience"></app-work-experience>
  <!-- Personal Projects -->
  <app-personal-projects id="personal-projects"></app-personal-projects>
  <!-- Education -->
  <app-education id="education"></app-education>
  <!-- Contact Details -->
  <app-contact-me  id="contact-me"></app-contact-me>
  <!-- Footer -->
  <app-footer id="footer"></app-footer>
</div>