.body{
    padding: 50px;
    height: 100vh;
    background-color:papayawhip;
    /* height: 100%; */
}

.custom-card{
    transform: rotate(-7deg);

    padding: 20px;
    margin: 50px;
}

.intro-image {
    height: 70vh;
    
}