<div class="body">
    <div class="row">
        <div class="col-sm stack-body">
            <div class="card custom-card shadow" style="width: 22rem;">
                <div class="card-body">
                    <h5 class="card-title">Hello, I am Sai Prakash</h5>
                    <p class="card-text">I am Passionate to work in the field of Software and
                         Web Development of both Front-end and Back-end by keeping up in pace with
                          the newly emerging Technologies and contributing to the Organization.</p>
                </div>
            </div>
            <div class="card dummy-card shadow" style="width: 22rem;">
                <div class="card-body">
                    <h5 class="card-title">Hello, I am Sai Prakash</h5>
                    <p class="card-text">I am Passionate to work in the field of Software and
                         Web Development of both Front-end and Back-end by keeping up in pace with
                          the newly emerging Technologies and contributing to the Organization.</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <img class="intro-image" src="assets/images/publicdomainq-business-man-working.svg">
        </div>
    </div>
</div>