<div class="body">
    <div class="container">
        <div class="row">
            <!-- justify-content-center centers the objects -->
            <div class="col-md-6 col-sm-12 stack-body justify-content-center">
                <div class="card custom-card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Hello, I am Sai Prakash</h5>
                        <p class="card-text">
                            {{careerObjective}}
                        </p>
                    </div>
                </div>
                <!--  style="width: 22rem;" -->
                <div class="card dummy-card shadow">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <!-- text-center will center text or images -->
            <div class="col-md-6 col-sm-12 text-center">
                <a href="https://www.instagram.com/p/ChNhogHPN-H/">
                    <img class="intro-image" src="assets/images/profile-pictures/22102024.png">
                </a>
            </div>
        </div>
    </div>
</div>