.body{
    padding: 50px;
    height: 100vh;
    /* background-color:papayawhip; */
    background-color: var(--home);
    /* height: 100%; */
}

.stack-body {
    display:flex;
}

.custom-card{
    z-index: 2;
    transform: rotate(-7deg);

    padding: 20px;
    margin: 50px;
}

.dummy-card{
    z-index: 1;
    transform: rotate(6deg);

    padding: 20px;
    margin: 50px;
    position: absolute;
}

.intro-image {
    height: 70vh;
    
}