<div class="body">
    <div class="container">
        <div class="row">
            <!-- justify-content-center centers the objects -->
            <div class="col-md-6 col-sm-12 stack-body justify-content-center">
                <div class="card custom-card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Hello, I am Sai Prakash</h5>
                        <p class="card-text">I am Passionate to work in the field of Software and
                             Web Development of both Front-end and Back-end by keeping up in pace with
                              the newly emerging Technologies and contributing to the Organization.</p>
                    </div>
                </div>
                <!--  style="width: 22rem;" -->
                <div class="card dummy-card shadow">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <!-- text-center will center text or images -->
            <div class="col-md-6 col-sm-12 text-center">
                <img class="intro-image" src="assets/images/publicdomainq-business-man-working.svg">
            </div>
        </div>
    </div>
</div>