/* You can add global styles to this file, and also import other style files */

.clickable {
    cursor: pointer;
}

body{
    --home: #61abff;
    --skills: #ffb5b5;
    --projects: bisque;
    --contact-me: lemonchiffon;
}

/* Go To Top - Button */
.go-to-top {
    opacity: 0.3;
    font-size:x-large;
}
.go-to-top:hover{
    opacity: 1;
}